NEXT_PUBLIC_RPC_URL=https://rpc.provider-sentry-02.ics-testnet.polypore.xyz
NEXT_PUBLIC_REST_URL=https://rest.provider-sentry-02.ics-testnet.polypore.xyz
NEXT_PUBLIC_CONTRACT_ADDRESS=cosmos1cegnz6mmj94vwtvyhm3ev44cqrsh3ft44rf28d08hdd9eft6t2kqsldh3g
# Local dev:
NEXT_PUBLIC_RELAYER_URL=http://localhost:3090
# Production (Vercel):
# NEXT_PUBLIC_RELAYER_URL=https://mutagen.pramadani.site
